.cont{
    display: flex;
    gap: 20px;  
}

.icono{
    color: red;
}

.box{
    display: grid;
    place-items: center;
    height: 100px;
    width: 100px;
    background-color: black;
    color: beige;
}

.one{
    color: red;
}


.inner{
    display: grid;
    place-items: center;
    height: 70px;
    background-color: aqua;
}

